In [18]:
import pandas as pd
from FuncionesExa import cargar_archivo, reemplazar_nulos, detectar_nulos, reemplazar_atipicos

In [19]:
df = cargar_archivo("PortoPortugal_50.csv")
df

,Unnamed: 0,id,scrape_id,last_scraped,source,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2.081470e+05,2.020000e+13,15/12/24,city scrape,1024383,26/08/11,within an hour,100%,100%,...,4.97,4.84,4.98,Exempt,t,1,0,1,0,0.53
1,1,2.415730e+05,2.020000e+13,15/12/24,city scrape,1266562,09/10/11,within an hour,100%,100%,...,4.70,4.61,4.61,7235/AL,t,17,17,0,0,1.40
2,2,3.902889e+06,2.020000e+13,15/12/24,city scrape,4656501,10/01/13,within an hour,100%,100%,...,4.69,4.64,4.58,133235/AL,t,4,4,0,0,0.29
3,3,3.907554e+06,2.020000e+13,15/12/24,city scrape,3367367,25/08/12,within an hour,100%,100%,...,4.95,4.62,4.82,69835/AL.,t,1,0,1,0,2.40
4,4,7.918261e+06,2.020000e+13,15/12/24,city scrape,40592098,05/08/15,within an hour,100%,69%,...,4.45,4.27,4.55,NaN,f,24,23,1,0,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14427,14427,1.310340e+18,2.020000e+13,15/12/24,city scrape,49819978,24/11/15,within an hour,100%,100%,...,NaN,NaN,NaN,93158/AL,t,15,15,0,0,NaN
14428,14428,1.310750e+18,2.020000e+13,15/12/24,city scrape,666783631,13/12/24,NaN,NaN,NaN,...,NaN,NaN,NaN,122947/AL,t,1,1,0,0,NaN
14429,14429,1.310850e+18,2.020000e+13,15/12/24,city scrape,666806969,13/12/24,NaN,NaN,NaN,...,NaN,NaN,NaN,Exempt,t,1,1,0,0,NaN
14430,14430,1.310990e+18,2.020000e+13,15/12/24,city scrape,30153947,28/03/15,NaN,NaN,NaN,...,NaN,NaN,NaN,Exempt,f,1,1,0,0,NaN
14431,14431,1.311020e+18,2.020000e+13,14/12/24,city scrape,142371613,25/07/17,within an hour,100%,100%,...,NaN,NaN,NaN,179622/AL,t,12,12,0,0,NaN

In [20]:
df = reemplazar_nulos(df)
df

/Users/sergiogiles/Documents/Tec de Monterrey/Concentración/Analítica de datos y herramientas de inteligencia artificial I/Prof. Alfredo García/Carga de Datos/FuncionesExa.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
/Users/sergiogiles/Documents/Tec de Monterrey/Concentración/Analítica de datos y herramientas de inteligencia artificial I/Prof. Alfredo García/Carga de Datos/FuncionesExa.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(99, inplace=True)
/Users/sergiogiles/Documents/Tec de Monterrey/Concentración/Analítica de datos y herramientas de inteligencia artificial I/Prof. Alfredo García/Carga de Datos/FuncionesExa.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Este_es_un_valor_nulo", inplace=True)

,Unnamed: 0,id,scrape_id,last_scraped,source,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2.081470e+05,2.020000e+13,15/12/24,city scrape,1024383,26/08/11,within an hour,100%,100%,...,4.97,4.840000,4.98,Exempt,t,1,0,1,0,0.530000
1,1,2.415730e+05,2.020000e+13,15/12/24,city scrape,1266562,09/10/11,within an hour,100%,100%,...,4.70,4.610000,4.61,7235/AL,t,17,17,0,0,1.400000
2,2,3.902889e+06,2.020000e+13,15/12/24,city scrape,4656501,10/01/13,within an hour,100%,100%,...,4.69,4.640000,4.58,133235/AL,t,4,4,0,0,0.290000
3,3,3.907554e+06,2.020000e+13,15/12/24,city scrape,3367367,25/08/12,within an hour,100%,100%,...,4.95,4.620000,4.82,69835/AL.,t,1,0,1,0,2.400000
4,4,7.918261e+06,2.020000e+13,15/12/24,city scrape,40592098,05/08/15,within an hour,100%,69%,...,4.45,4.270000,4.55,Este_es_un_valor_nulo,f,24,23,1,0,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14427,14427,1.310340e+18,2.020000e+13,15/12/24,city scrape,49819978,24/11/15,within an hour,100%,100%,...,99.00,4.734795,99.00,93158/AL,t,15,15,0,0,1.671353
14428,14428,1.310750e+18,2.020000e+13,15/12/24,city scrape,666783631,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,99.00,4.734795,99.00,122947/AL,t,1,1,0,0,1.671353
14429,14429,1.310850e+18,2.020000e+13,15/12/24,city scrape,666806969,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,99.00,4.734795,99.00,Exempt,t,1,1,0,0,1.671353
14430,14430,1.310990e+18,2.020000e+13,15/12/24,city scrape,30153947,28/03/15,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,99.00,4.734795,99.00,Exempt,f,1,1,0,0,1.671353
14431,14431,1.311020e+18,2.020000e+13,14/12/24,city scrape,142371613,25/07/17,within an hour,100%,100%,...,99.00,4.734795,99.00,179622/AL,t,12,12,0,0,1.671353

In [21]:
nulos_por_columna, total_nulos = detectar_nulos(df)
print("Valores nulos por columna:\n", nulos_por_columna)
print("\nTotal de valores nulos en el DataFrame:", total_nulos)

Valores nulos por columna:
 Unnamed: 0                                      0
id                                              0
scrape_id                                       0
last_scraped                                    0
source                                          0
host_id                                         0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
license                                         0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

Total de valores nulos en el DataFrame: 0

In [22]:
df = reemplazar_atipicos(df)
df

,Unnamed: 0,id,scrape_id,last_scraped,source,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0.0,2.081470e+05,2.020000e+13,15/12/24,city scrape,1024383.0,26/08/11,within an hour,100%,100%,...,4.97,4.840000,4.98,Exempt,t,1.0,0.0,1.0,0.0,0.530000
1,1.0,2.415730e+05,2.020000e+13,15/12/24,city scrape,1266562.0,09/10/11,within an hour,100%,100%,...,4.70,4.610000,4.61,7235/AL,t,17.0,17.0,0.0,0.0,1.400000
2,2.0,3.902889e+06,2.020000e+13,15/12/24,city scrape,4656501.0,10/01/13,within an hour,100%,100%,...,4.69,4.640000,4.58,133235/AL,t,4.0,4.0,0.0,0.0,0.290000
3,3.0,3.907554e+06,2.020000e+13,15/12/24,city scrape,3367367.0,25/08/12,within an hour,100%,100%,...,4.95,4.620000,4.82,69835/AL.,t,1.0,0.0,1.0,0.0,2.400000
4,4.0,7.918261e+06,2.020000e+13,15/12/24,city scrape,40592098.0,05/08/15,within an hour,100%,69%,...,4.92,4.770000,4.55,Este_es_un_valor_nulo,f,24.0,23.0,1.0,0.0,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14427,14427.0,1.310340e+18,2.020000e+13,15/12/24,city scrape,49819978.0,24/11/15,within an hour,100%,100%,...,4.92,4.734795,4.76,93158/AL,t,15.0,15.0,0.0,0.0,1.671353
14428,14428.0,1.310750e+18,2.020000e+13,15/12/24,city scrape,666783631.0,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,122947/AL,t,1.0,1.0,0.0,0.0,1.671353
14429,14429.0,1.310850e+18,2.020000e+13,15/12/24,city scrape,666806969.0,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,Exempt,t,1.0,1.0,0.0,0.0,1.671353
14430,14430.0,1.310990e+18,2.020000e+13,15/12/24,city scrape,30153947.0,28/03/15,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,Exempt,f,1.0,1.0,0.0,0.0,1.671353
14431,14431.0,1.311020e+18,2.020000e+13,14/12/24,city scrape,142371613.0,25/07/17,within an hour,100%,100%,...,4.92,4.734795,4.76,179622/AL,t,12.0,12.0,0.0,0.0,1.671353

In [23]:
df.to_csv("Porto_exam.csv", index=False)
df

,Unnamed: 0,id,scrape_id,last_scraped,source,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0.0,2.081470e+05,2.020000e+13,15/12/24,city scrape,1024383.0,26/08/11,within an hour,100%,100%,...,4.97,4.840000,4.98,Exempt,t,1.0,0.0,1.0,0.0,0.530000
1,1.0,2.415730e+05,2.020000e+13,15/12/24,city scrape,1266562.0,09/10/11,within an hour,100%,100%,...,4.70,4.610000,4.61,7235/AL,t,17.0,17.0,0.0,0.0,1.400000
2,2.0,3.902889e+06,2.020000e+13,15/12/24,city scrape,4656501.0,10/01/13,within an hour,100%,100%,...,4.69,4.640000,4.58,133235/AL,t,4.0,4.0,0.0,0.0,0.290000
3,3.0,3.907554e+06,2.020000e+13,15/12/24,city scrape,3367367.0,25/08/12,within an hour,100%,100%,...,4.95,4.620000,4.82,69835/AL.,t,1.0,0.0,1.0,0.0,2.400000
4,4.0,7.918261e+06,2.020000e+13,15/12/24,city scrape,40592098.0,05/08/15,within an hour,100%,69%,...,4.92,4.770000,4.55,Este_es_un_valor_nulo,f,24.0,23.0,1.0,0.0,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14427,14427.0,1.310340e+18,2.020000e+13,15/12/24,city scrape,49819978.0,24/11/15,within an hour,100%,100%,...,4.92,4.734795,4.76,93158/AL,t,15.0,15.0,0.0,0.0,1.671353
14428,14428.0,1.310750e+18,2.020000e+13,15/12/24,city scrape,666783631.0,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,122947/AL,t,1.0,1.0,0.0,0.0,1.671353
14429,14429.0,1.310850e+18,2.020000e+13,15/12/24,city scrape,666806969.0,13/12/24,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,Exempt,t,1.0,1.0,0.0,0.0,1.671353
14430,14430.0,1.310990e+18,2.020000e+13,15/12/24,city scrape,30153947.0,28/03/15,Este_es_un_valor_nulo,Este_es_un_valor_nulo,Este_es_un_valor_nulo,...,4.92,4.734795,4.76,Exempt,f,1.0,1.0,0.0,0.0,1.671353
14431,14431.0,1.311020e+18,2.020000e+13,14/12/24,city scrape,142371613.0,25/07/17,within an hour,100%,100%,...,4.92,4.734795,4.76,179622/AL,t,12.0,12.0,0.0,0.0,1.671353